@import 'tailwindcss';

@layer base {
  :root {
    background-color: #000000;
    color: #ffffff;
    scroll-behavior: smooth;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    
    -webkit-tap-highlight-color: transparent;
    
    font-weight: 400;
    line-height: 1.5;
  }

  *, ::after, ::before {
    border-color: color-mix(in srgb, currentColor 10%, transparent);
  }
}

@theme {
  --color-brand-red: #e40f0f;
  --ease-expo: cubic-bezier(0.16, 1, 0.3, 1);
}